---
import bebes from '../assets/bebes.png';
---

<div id="container">
	<div class="floresTop"></div>
	<main>
		<h1>Alyson & Regina</h1>
		<img src={bebes.src} alt="" />
		<a href="" id="infoBtn">Ver Info</a>
	</main>
	<div class="floresBottom"></div>
</div>
